.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: -1;
  color: #2F80ED;
  }

.feynman__link:hover {
  opacity: 0.3;
}
