.cards__item {
  width: 240px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 92px 0 0;
  padding: 0;
}

.cards__item:nth-child(3n+3) {
  margin: 0;
} 


