.logo {
  width: 183px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  /* В блок выносим только общие описательные стили, не влияющие на внешнюю геометрию и позиционирование */
}
